body {
  background-color: bisque;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
img {
  max-width: 50%;
}
